# DataScienceEcosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Languages that Data Scientists use
- Libraries used by Data Scientist
- Some tools used by Data Scientist
- Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. MATLAB

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. TensorFlow
5. PyTorch

Data Science Tools| Jupyter Notebook | Rstudio | Github |
-                 | -                |  -      |   -    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [18]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
#  This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
This Notebook is Created by *Younes Boulite* A.K.A: *YoumIX-9*